* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    /* background-image: ; */
    background-size: contain; /* Change from 'cover' to 'contain' */
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/background1.jpg"); 
}




header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-weight: bold;
}

.logo {
    width: 300px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from logo */
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none; /* Remove underline from nav links */
}

.nav__links li a:hover {
    color: #317dff;
    font-size: large;
}

 /* CSS styles for form */
 form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
   
}
option.placeholder {
    color: gray;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    font-size: 16px;
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #317dff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #1356eb;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    form {
        margin-left: 5%; /* Move the form to the left on smaller screens */
        margin-right: 5%;
    }
}


.popup {


    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 5px;
    z-index: 9999; /* Ensure the popup is on top of other elements */
    width: 400px;
    border-radius: 6px;
    height: 300px;
    text-align: center;
}

.popup-content{

    
    padding: 12px 20px; /* Padding adjusted */
    margin-top: 20px; /* Increased margin-top */
    border: none;
    border-radius: 5px;
    height: 200px;
    background-color: black;
   
 
 
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;

   
   
 

}

#success-message{
    text-decoration: none;
    font-size: larger;
    

}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
   background-color: none;
}





#submit  {
    width : 100%;
    padding :16px 20px;
    font-size: 1rem;
    background:#317DFF;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin-top: -10px;
  
   



}



#submit:hover {
    border: 5px solid  #317DFF;
    box-shadow: 0 0 30px   #317DFF, inset 0 0 30px  #317DFF;


}


