
#add-payment  {
    margin-top: 100px;
    margin-left: 250px;
    width : 200px;
    padding :16px 0;
    font-size: 1rem;
    background:#317DFF;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    /* margin: 25px 0 10px; */

}

#card-button {
    width : 200px;
    padding :16px 0;
    font-size: 1rem;
    background:#317DFF;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 550px;
    margin-left: 600px;
}


.input-box .card-information {
    margin-top: 50px;

}


