

.wrapper div{
    color: #fff;    
    padding: 20px;
    font-size: 1rem;
    position: relative;
    align-items: center;
    right: -5px; 
}



#add-promo {

   
    padding :20px 5px;
    font-size: 1rem;
    background: #317DFF;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
   
    text-decoration: none;
    margin-left: 700px;
  
   
  

   

}

#add-promo:hover {
    border: 5px solid  #317DFF;
    box-shadow: 0 0 30px   #317DFF, inset 0 0 30px  #317DFF;


}

.promo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust margin between promotion blocks */
}

.column {
    width: 300%; /* Adjust width for columns */
  

}

/* Optional: Adjust styles for individual elements within the columns */
.promo h2 {
    margin-top: 0; /* Remove top margin for h2 */
}

.promo p {
    margin: 5px 0; /* Adjust margins for paragraphs space between lines */
}


.column {
    background-color: #000000; /* Example background color */
    padding: 10px; /* Add padding for spacing within columns */
    max-width: 800px; /* Set maximum width for the columns */
    margin-bottom: 5px; /* Add margin between columns */
   
}
