.wrapper div {
    color: #fff;    
    padding: 20px;
    font-size: 1rem;
    position: relative;
    align-items: center;
    right: -5px; 

    
  
}

#add-promo {
    padding: 20px 5px;
    font-size: 1rem;
    background: #317DFF;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin-left: 700px;
}

#add-promo:hover {
    border: 5px solid #317DFF;
    box-shadow: 0 0 30px #317DFF, inset 0 0 30px #317DFF;
}

.promo {
    display: flex;
    margin-bottom: 20px; /* Adjust margin between promotion blocks */
    padding: 10px; /* Add padding for spacing within columns */
    margin-left: 40px;
    font-size: larger;
    font-size: larger;
    background-color: rgba(42, 41, 41, 0.7);

}


.wrapper h2 {
    margin-top: 0; 
    color: #fff;
 
    font-size: larger;
    font-weight: 200;

}

.promo p {
    margin: 20px 40px 20px; /* Adjust margins for paragraphs space between lines */
    margin-right: 100px;
    font-size: larger;
   

}




