
/* Making the input box for email-address non- editable **/
.input-box input[name = "email-address"], 
.input-box input[name = "card-first-name[0]"],
.input-box input[name = "email-address"] ,
.input-box input[name = "email-address"] ,
.input-box input[name = "email-address"]   {
    background-color: #aaaaaa;
    pointer-events: none;

}





#card-info-button {
    margin-top: 100px;
    margin-left: 670px;


}



.card-information .field {
    margin-bottom: 20px; /* Adjust margin bottom */
}

.field select {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s ease;
    color: #b3b3b3;
    font-size: 0.65rem;
    border-radius: 4px;

    height: 40px;
    width: 300px;
    background : #444;
    padding: 10px 15px;
    font-size: 0.75rem;
    transform: translateY(-50%);

   
}



#deleteButton {
    margin-top: 45px;
    margin-left: -280px; /* move delete button */
    background: #317DFF;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    font-size: 0.95rem;
    padding: 0px 10px 1px;
 
   
    

 }

 #submit  {
    margin-top: 120px; 
}



#billing-address-header {
    margin-top: 30px; /* moves the header for the billing address field */

}


#card-info-button {
    background: #317DFF;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    font-size: 0.95rem;
    padding: 0px 10px 1px;

}























