
/* Making the input box for email-address non- editable **/
.input-box input[name = "email-address"] {
    background-color: #aaaaaa;
    pointer-events: none;
}


.card-information .delete-payment  {
    width: 60px;
    height: 35px;
    margin-top: 5px;

}






