* {
   
    color: white; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    

  } 

  body {
    font-family: Arial, sans-serif; /* Set font family to Arial */
}

  @media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}
  
  
  header {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-weight: bold;
  }

  .logo{
    width: 300px;
    cursor: pointer;
    left: 0;
    
  }
   
  .nav__links {
  list-style: none;
  text-decoration: none;

  } 

  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;

  }
  /* Navigation Links for Admin, Login and Movies */
  .nav__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .nav__links li a:hover {
    color:#317DFF;
    font-size: large;
  }
 
  .search {
    margin-left: 20px; 
    background-color: #ccc; 
    border-radius: 10px; 
}

.search form input[type="text"] {
    color: #333; 
    background-color: #ccc; 
    border: none; 
    padding: 8px; 
    outline: none;
}

.search form input[type="text"]::placeholder {
    color: #000000; 
}
 
 .content-holder {
 margin-left: 50px;
 background-color: #ffffff; 
 margin-top: 2%;

 }

 .movies-type-title{
  position: relative;
 }
 
 .movies-poster-img {
  padding: 20px;
  height :600px;
  width: 400px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  position: relative;

 }
 

 /** Title for movies that are playing **/
  

 .movies-list{
  display: flex;
  align-items: center;
  transform: translate(0);
  height : 700px;
  transition: all 1s ease-in-out;
  
 }

 .movies-list-item:hover .movies-poster-img {
  transform: scale(1.2);

 } 


 .arrowicon {
  position: absolute;
  top: 290px;
  right: 0;
  cursor: pointer;
  background: transparent;
 }

 .arrowiconback {
  position: absolute;
  top: 290px;
  left: 0;
  cursor: pointer;
  background: transparent;
  cursor: pointer;
  margin-left: -35px;

 }
 

 .movies-list-wrapper {
  position: relative;
  overflow: hidden;
 }

 #detailsbutton{
  padding: 12px 24px;
  margin: 0 10px;
  background-color: rgb(80, 128, 242);
  color: rgb(80, 128, 242);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

 }

 #detailsbutton{
  padding: 12px 24px;
  margin: 0 10px;
  background-color: rgb(80, 128, 242);
  color: rgb(80, 128, 242);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

 }

 button{
  padding: 0;
  border: none;
}


/* CSS for button */
#detailsbutton {
  display: block; /* Ensure button takes full width */
  margin: 20px auto 0; /* Center the button vertically and horizontally */
  padding: 12px 24px;
  background-color: rgb(80, 128, 242);
  color: white; /* Change button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#detailsbutton:hover {
  background-color: #317DFF; /* Change button background color on hover */
}
 
.now-playing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Add margin to create space between header and movies */
}

#add-movie-button {
  padding: 10px 20px;
  background-color: rgb(80, 128, 242);
  margin-right: 5%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

#add-movie-button:hover {
  background-color: #317DFF;
}