

body::before {
    content: "  ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity:0.5;
    background-image: url("../images/background2.jpg");
    

}

.button-container {
    display: flex;
    justify-content: space-between; /* Distribute space evenly between buttons */
    margin-top: 30px; /*moves buttons */
}


.button {
    text-decoration: none;
    text-align: center;
}



.date-information  {
    margin-top: -50px;
 }
 

